@model AIRMAM5.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "_ChangePassword";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@HtmlHelper.Breadcrumb(new string[] { "系統設定", "變更密碼" })
@section Styles{
    <link href="~/Content/iftame_style/Account/UserPassword.min.css" rel="stylesheet" />
}
<div class="ui stackable one column centered grid _ResrtPass">
    <div class="_backgroundImg"></div>
    <div class="ui card six wide column">
        <div class="ui basic segment">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="ui error message" style="padding:0;">
                    @Html.ValidationSummary("", new { @class = "list" })
                </div>
            }

            @using (Ajax.BeginForm("ChangePassword", "User",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "OnBegin",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure"
                },
                new { role = "form", @class = "ui error inverted form", @id = "CreateForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="field">
                    @Html.LabelFor(m => m.CurrentPassword)
                    <div class="ui icon input">
                        @Html.PasswordFor(m => m.CurrentPassword)
                        <i class="grey eye slash link icon"></i>
                    </div>
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.NewPassword)
                    <div class="ui icon input">
                        @Html.PasswordFor(m => m.NewPassword)
                        <i class="grey eye slash link icon"></i>
                    </div>
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <div class="ui icon input">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        <i class="grey eye slash link icon"></i>
                    </div>
                </div>
                <div class="inline fields">
                    <button class="ui fluid cancel grey button" type="reset">清除</button>
                    <button type="submit" class="ui fluid yellow button">確認</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/Scripts/dist/AccountResetPassword.min.js"></script>*@
    @Html.Partial("~/Views/Bundle/AccountResetPassword_Js.cshtml")
    <script src="~/Content/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
}
