@model AIRMAM5.DBEntity.Models.User.UserCreateViewModel

@{
    Layout = "";
}

@HtmlHelper.HtmlModal("CreateModal", "新增帳號",
@*@<div>
    @using (Ajax.BeginForm("Create", "User",
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowMessage", OnFailure = "ShowMessage" },
        new { role = "form", @class = "ui form", @id = "CreateForm", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()*@
@<form role="form" class="ui inverted form" id="CreateForm" enctype = "multipart/form-data">
    <div class="three fields">
        <div class="required field">
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName, new { @placeholder = "請輸入帳號..." })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="field">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="field">
            @Html.LabelFor(model => model.DeptId)
            @Html.DropDownListFor(model => model.DeptId, Model.DeptList, new { @class = "ui search selection fluid dropdown" })
            @Html.ValidationMessageFor(model => model.DeptId)
        </div>
    </div>
    <div class="three fields">
        <div class="required field">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="required field">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="required field">
            @*  TODO_2020.3.13: 新增帳號時,不指定密碼. *@
            @*@Html.LabelFor(model => model.Password)
            <div class="ui action input">
                @Html.EditorFor(model => model.Password)
                <button type="button" class="ui icon black button" id="SeePassBtn"><i class="eye icon"></i></button>
            </div>
            @Html.ValidationMessageFor(model => model.Password)*@
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="field">
            @Html.LabelFor(model => model.EName)
            @Html.EditorFor(model => model.EName)
            @Html.ValidationMessageFor(model => model.EName)
        </div>
        <div class="required field">
            <div style="color: mediumaquamarine;">
                ※新增後,使者用透過電子郵件驗證信,登入系統、設定密碼。
            </div>
            @*  TODO_2020.3.13: 新增帳號時,不指定密碼. *@
            @*@Html.LabelFor(model => model.ConfirmPassword)
            <div class="ui action input">
                @Html.EditorFor(model => model.ConfirmPassword)
                <button type="button" class="ui icon black button" id="SeePassConfirmBtn"><i class="eye icon"></i></button>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword)*@
        </div>
    </div>
    <div class="two fields">
        <div class="four wide required field">
            @*@Html.LabelFor(model => model.FileSecret)*@
            <div class="_ArrayFlex">
                @Html.LabelFor(model => model.FileSecret)<span class="">（可複選）*</span>
            </div>
            <div class="ui right action left labeled fluid input">
                @Html.DropDownList("SecretList", new SelectList(Model.FileSecretList, "Value", "Text"), new { @class = "ui search multiple selection fluid dropdown", @multiple = "" })
            </div>
            @Html.ValidationMessageFor(model => model.FileSecret, "", new { @class = "" })
        </div>
        <div class="twelve wide required field">
            <div class="_ArrayFlex">
                @Html.LabelFor(model => model.GroupIds)<span class=""><sup class="ui red header">*</sup>（可複選,至少選擇一個）*</span>
            </div>
            <div class="ui right action left labeled fluid input">
                @Html.DropDownList("RoleList", new SelectList(Model.RoleGroupLst, "Value", "Text"), new { @class = "ui search multiple selection fluid dropdown", @multiple = "" })
            </div>
            @Html.ValidationMessageFor(model => model.GroupIds, "", new { @class = "" })
        </div>
    </div>

    <div class="field">
        @Html.LabelFor(model => model.BookingTargetPath)
        <div class="ui action input">
            @Html.TextBoxFor(model => model.BookingTargetPath, new { @placeholder = "(如：\\SERVER\\FOLDER)" })
            @*<input id="ShowPath" type="text" readonly />
                <button id="ChoosePath" type="button" class="ui yellow button"> 選擇路徑 </button>
                <input type="file" name="file" style="visibility:hidden;width:0;" webkitdirectory mozdirectory msdirectory odirectory directory multiple />*@
        </div>
        @Html.ValidationMessageFor(model => model.BookingTargetPath)
    </div>
    <div class="field">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @rows = "6" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="field">
        @Html.ValidationSummary(true, "", new { @class = "" })
    </div>
</form>
  @*}
</div>*@
,@<div>

    <button class="ui yellow ok  button" type="submit">儲存</button>
    <button class="ui cancel  button" type="reset">取消</button>
</div>
 )


