@model AIRMAM5.DBEntity.Models.ArcPre.ArcPreViewModel

@HtmlHelper.HtmlModal("DeleteModal", "刪除詮釋資料",
@<form role="form" class="ui inverted form" id="DeleteForm">
    @Html.AntiForgeryToken()
    <div class="field">
        <h5 class="ui red header"> 確定要刪除這筆資料嗎?</h5>
    </div>
    <div class="field">
        @*<label>預編名稱</label>*@
        @Html.LabelFor(m => m.fsNAME)
        @Html.TextBoxFor(model => model.fsNAME, new { @type = "text", @readonly = "readonly" })
        @Html.HiddenFor(model => model.fnPRE_ID)
    </div>
    <dvi class="two fields">
        <div class="field">
            @Html.LabelFor(model => model.fsTYPE)
            @Html.TextBoxFor(model => model.fsTYPE_NAME, new { @type = "text", @readonly = "readonly" })
        </div>
        <div class="field">
            @Html.LabelFor(model => model.fsTEMP_NAME)
            @Html.TextBoxFor(model => model.fsTEMP_NAME, new { @type = "text", @readonly = "readonly" })
        </div>
    </dvi>
    <div class="ui horizontal inverted divider">詮釋資料</div>
    <div class="field">
        @Html.LabelFor(m => m.fsTITLE)
        @Html.TextBoxFor(model => model.fsTITLE, new { @type = "text", @readonly = "readonly" })
    </div>
    <div class="field">
        @Html.LabelFor(m => m.fsDESCRIPTION)
        @Html.TextAreaFor(model => model.fsDESCRIPTION, new { @rows = 6, @readonly = "readonly" })
    </div>
    <div class="field">
        @{ string _hashtag = string.IsNullOrEmpty(Model.fsHashTag) ? string.Empty : " #" + string.Join(" #", Model.HashTag); }
        @Html.LabelFor(m => m.fsHashTag)
        <div>
            @{
              if (!string.IsNullOrEmpty(Model.fsHashTag))
              {
                  var tags = Model.fsHashTag.Split(new char[] { '^' });
                  foreach (string tag in tags)
                  {
                   <label class="ui blue x-hashtag label">#@tag</label>
                  }
              }else{
                 <input value="" readonly />
              }
            }
        </div>
    </div>
    @{
        var _cser = new AIRMAM5.DBEntity.Services.CodeService();
        //自訂欄位, 判斷型態決定顯示控制項
        foreach (var itm in Model.ArcPreAttributes)
        {
            string _req = itm.IsNullable ? "" : "required";
            if (itm.FieldType == "NVARCHAR")
            {
                if (itm.IsMultiline)
                {
                    <div class="@_req field">
                        @Html.Label(itm.FieldName)
                        @Html.TextAreaFor(m => itm.FieldValue, new { @type = "text", @rows = 3, @readonly = "readonly" })
                    </div>
                } else {
                    <div class="@_req field">
                        @Html.Label(itm.FieldName)
                        @Html.TextBoxFor(m => itm.FieldValue, new { @type = "text", @readonly = "readonly" })
                    </div>
                 }
           }
           else if (itm.FieldType == "INTEGER") {
                <div class="@_req field">
                    @Html.Label(itm.FieldName)
                    @Html.TextBoxFor(m => itm.FieldValue, new { @type = "number", @min = 0, @setp = 1, @readonly = "readonly" })
                </div>
           }
            else if (itm.FieldType == "DATETIME") {
                <div class="@_req field">
                    @Html.Label(itm.FieldName)
                    @Html.TextBoxFor(m => itm.FieldValue, new { @type = "text", @readonly = "readonly" })
                </div>
            }
            else if (itm.FieldType == "CODE") {
                <div class="@_req field">
                    @Html.Label(itm.FieldName)
                    @{
                      var _ddlCode = _cser.GetCodeItemList(itm.FieldCodeId);
                    }
                    @if (itm.FieldCodeCnt == 1) {
                        @Html.DropDownListFor(m => itm.FieldValue, new SelectList(_ddlCode, "Value", "Text"), new { @class = "ui search selection fluid dropdown disabled", data_field = itm.Field, data_fieldname = itm.FieldName, data_fieldtype = itm.FieldType, @Id = itm.Field })
                    }
                    else {
                        var _clist = _cser.CodeListItemSelected(itm.FieldCodeId, itm.FieldDef);

                        @Html.DropDownListFor(m => itm.FieldValue, _clist, new { @class = "ui search multiple selection fluid dropdown disabled", @multiple = "", data_field = itm.Field, data_fieldname = itm.FieldName, data_fieldtype = itm.FieldType, @Id = itm.Field })
                      }
                </div>
            }
        }
    }

    <div class="four fields">
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UserAndDateTime.CreatedDate)
            @Html.TextBox("CreatedDate", string.Format($"{Model.UserAndDateTime.CreatedDate:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UserAndDateTime.CreatedBy)
            @Html.TextBoxFor(m => m.UserAndDateTime.CreatedBy, new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UserAndDateTime.UpdatedDate)
            @Html.TextBox("UpdatedDate", string.Format($"{Model.UserAndDateTime.UpdatedDate:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UserAndDateTime.UpdatedBy)
            @Html.TextBoxFor(m => m.UserAndDateTime.UpdatedBy, new { @readonly = "readonly" })
        </div>
    </div>
</form>,
  @<div>
      <button type="button" class="ui ok right labeled icon red button">刪除<i class="checkmark icon"></i></button>
      <button class="ui cancel  button" type="button">取消</button>
  </div>
  )

