@model AIRMAM5.DBEntity.Models.Shared.VerifyDateSerarchModel

<form class="ui inverted form" role="form" id="SearchForm">
    <div class="three fields">
        <div class="two wide column field">
            @Html.LabelFor(model => model.ApproveStatus)
            @Html.DropDownListFor(model => model.ApproveStatus, new SelectList(Model.ApproveStatusList, "Value", "Text"), new { @class = "ui search selection dropdown", id = "ApproveStatus" })
        </div>
        <div class="three wide  ui calendar required field">
            <label>調用日期(起)</label>
            @Html.TextBoxFor(model => model.StartDate, new { @type = "text", @placeholder = "調用日期(起))", @id = "sdate" })
        </div>
        <div class="three wide ui calendar required field">
            <label>調用日期(迄)</label>
            @Html.TextBoxFor(model => model.EndDate, new { @type = "text", @placeholder = "調用日期(迄)", @id = "edate" })
        </div>
        <div class="five wide column  field">
            @Html.LabelFor(model => model.UserId)
            @Html.DropDownListFor(model => model.UserId, new SelectList(Model.LoginIdList, "Value", "Text"), new { @class = "ui search selection dropdown", id = "UserId" })
        </div>
        <div class="ten wide column field">
            <label style="visibility:hidden;">查詢</label>
            <button type="submit" class="ui yellow button">查詢</button>
            <button type="button" name="reset" class="ui button">清空</button>
            <button name="batchpass" type="button" class="ui green button"> <i class="plus icon"></i> 批次過審 </button>
            <button name="batchreject" type="button" class="ui red button"> <i class="close icon"></i> 批次拒絕 </button>
            <button name="reload" type="button" class="ui _darkGrey button">重載列表</button>
        </div>
    </div>
</form>

