@model AIRMAM5.DBEntity.Models.Directory.CreateUserDirAuthModel
@{
    Layout = "";
}

@HtmlHelper.HtmlModal("CreateUserModal", "新增目錄使用者權限",
@<form class="ui inverted form" role="form" id = "CreateUserForm">
        <div class="two fields">
            <div class="field">
                @Html.LabelFor(model => model.fnDIR_ID)
                @Html.TextBoxFor(model => model.fnDIR_ID, new { @type = "text", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.fnDIR_ID)
            </div>
            <div class="required field">
                @Html.LabelFor(model => model.fsLOGIN_ID)
                @Html.DropDownListFor(model => model.fsLOGIN_ID, Model.UserList, new { @class = "ui search selection  dropdown" })
                @Html.ValidationMessageFor(model => model.fsLOGIN_ID)
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                @Html.LabelFor(model => model.fsLIMIT_SUBJECT)
                @Html.DropDownListFor(model => model.fsLIMIT_SUBJECT, Model.OperationList, new { @class = "ui search multiple selection fluid dropdown", @multiple = "" })
                @Html.ValidationMessageFor(model => model.fsLIMIT_SUBJECT)
            </div>
            <div class="field">
                @Html.LabelFor(model => model.fsLIMIT_VIDEO)
                @Html.DropDownListFor(model => model.fsLIMIT_VIDEO, Model.OperationList, new { @class = "ui search multiple selection fluid dropdown", @multiple = ""})
                @Html.ValidationMessageFor(model => model.fsLIMIT_VIDEO)
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                @Html.LabelFor(model => model.fsLIMIT_AUDIO)
                @Html.DropDownListFor(model => model.fsLIMIT_AUDIO, Model.OperationList, new { @class = "ui search multiple selection fluid dropdown", @multiple = ""})
                @Html.ValidationMessageFor(model => model.fsLIMIT_AUDIO)
            </div>
            <div class="field">
                @Html.LabelFor(model => model.fsLIMIT_PHOTO)
                @Html.DropDownListFor(model => model.fsLIMIT_PHOTO, Model.OperationList, new {  @class = "ui search multiple selection fluid dropdown", @multiple = "" })
                @Html.ValidationMessageFor(model => model.fsLIMIT_PHOTO)
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                @Html.LabelFor(model => model.fsLIMIT_DOC)
                @Html.DropDownListFor(model => model.fsLIMIT_DOC, Model.OperationList, new { @class = "ui search multiple selection fluid dropdown", @multiple = "" })
                @Html.ValidationMessageFor(model => model.fsLIMIT_DOC)
            </div>
        </div>
           @if (!Html.ViewData.ModelState.IsValid)
           {
              <div class="ui error message">
                  @Html.ValidationSummary("", new { @class = "list" })
              </div>
            }
</form>,
 @<div>
     <button class="ui yellow ok button" type="submit">新增</button>
     <button class="ui cancel  button" type="reset">取消</button>
 </div>
  )

