@model AIRMAM5.DBEntity.Models.Subject.SubjectViewModel

@HtmlHelper.HtmlModal("DeleteModal", "刪除主題檔案資料",
@<form role="form" class="ui inverted form" id="DeleteForm" method="post">
    <dvi class="two fields">
        <div class="field">
            @Html.LabelFor(model => model.SubjectId)
            @Html.TextBoxFor(model => model.SubjectId, new { @type = "text", @readonly = "readonly" })
        </div>
        <div class="required field">
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title, new { @type = "text", @readonly = "readonly" })
        </div>
    </dvi>
    <div class="field">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @type = "text", @readonly = "readonly" })
    </div>

    @foreach (var itm in Model.SubjectAttributes)
    {
        <div class="field">
            @*@Html.LabelFor(m => itm.Field)*@
            @Html.DisplayTextFor(m => itm.FieldName)
            @Html.TextBoxFor(m => itm.FieldValue, new { @type = "text", @readonly = "readonly" })
        </div>
    }

</form>,
@<div>
    <button type="button" class="ui ok right labeled icon red button">刪除<i class="checkmark icon"></i></button>
    <button class="ui cancel  button" type="button">取消</button>
</div>
)
