@model AIRMAM5.DBEntity.Models.Subject.VideoKeyFrameModel
@{
    Layout = "";
}

@HtmlHelper.HtmlModal("KeyFrameAddModal", "新增關鍵影格",
@<form class="ui inverted form" role="form">
    <div class="ui field ">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
    </div>
    <div class="ui field required">
        @Html.LabelFor(model => model.Time)
        <div class="ui action input">
            @Html.TextBoxFor(model => model.Time,new { @readonly = "readonly" })
            <button type="button" class="ui grey button" name="PlayerDuration">設定</button>
        </div>
    </div>
    <div class="ui field">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @row = "10" })
    </div>
</form>,
@<div>
    <button class="ui yellow approve button" type="button">新增</button>
    <button class="ui deny button" type="button">取消</button>
</div>,
 "small")

