@model AIRMAM5.DBEntity.Models.Subject.SubjectFileSeqmentModel

@if (Model == null)
{
    @HtmlHelper.HtmlModal("ParagraphDeleteModal", "刪除段落描述【檔案編號:無法取得!】",
        @<form class="ui inverted form" role="form">
             <div class="ui field">
                 <label for="BegTime">開始時間</label>
                 @Html.TextBox("BegTime", null, new { @readonly = "readonly", data_Seconds = Model.BegTime })
             </div>
             <div class="ui field">
                 <label for="EndTime">結束時間</label>
                 @Html.TextBox("EndTime", null, new { @readonly = "readonly" , data_Seconds = Model.EndTime })
             </div>
            <div class="ui field">
                <label>描述</label>
                @Html.TextArea("Description", null, new { @row = "20", @readonly = "readonly" })
            </div>
        </form>,
                        @<div>
    <button type="button" class="ui approve right labeled icon red button">刪除<i class="delete icon"></i></button>
    <button type="button" class="ui deny  button">取消</button>
</div>,
"small")
}else{
    @HtmlHelper.HtmlModal("ParagraphDeleteModal", "刪除段落描述【檔案編號:" + Model.fsFILE_NO + "】" + Model.SeqNo,
    @<form class="ui inverted form" role="form">
         <div class="ui field">
             @Html.LabelFor(model => model.BegTime)
             @Html.TextBox("BegTime", Model.BegTime, new { @readonly = "readonly", data_Seconds = Model.BegTime })
         
         </div>
         <div class="ui field">
             @Html.LabelFor(model => model.EndTime)
             @Html.TextBox("EndTime", Model.EndTime, new { @readonly = "readonly", data_Seconds = Model.EndTime })
         </div>
        <div class="ui field">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @row = "10", @readonly = "readonly" })
        </div>
    </form>,
  @<div>
      <button type="button" class="ui approve right labeled icon red button">刪除<i class="delete icon"></i></button>
      <button type="button" class="ui deny  button">取消</button>
  </div>,
   "small")
}
