@model AIRMAM5.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "--重設密碼--";
}



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui inverted form", role = "form" }))
{
    <div class="inputs">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="field center">
            <p>@ViewBag.Title</p>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.UserId)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @autocomplete = "off", @autofocus = "autofocus" })
        </div>
        <div class="field">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @autocomplete = "off" })
        </div>
        <div class="field right">
            <div class="buttons">
                <button class="btn" type="reset">清除</button>
                <button class="btn" type="submit">確認</button>
            </div>
            <span class="right">@Html.ValidationMessageFor(m => m.UserId, "", new { @class = "valid" })</span><br />
            <span class="right">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "valid" })</span><br />
            <span class="right">@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "valid" })</span><br />
        </div>
    
    </div>
   }
