@model AIRMAM5.DBEntity.Models.Works.UploadWorkViewModel
@{
    Layout = "";
}

@HtmlHelper.HtmlModal("DetailModal", "入庫轉檔紀錄內容",
@<form class="ui form" name="Detail">
    <div class="four fields">
        <div class="two wide field">
            @Html.DisplayNameFor(model => model.fnWORK_ID)
            @Html.TextBoxFor(model => model.fnWORK_ID, new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.fsTYPE)
            @Html.TextBoxFor(model => model.C_sTYPENAME, new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.WorkStatus)
            @Html.TextBoxFor(model => model.StatusName, new { @readonly = "readonly" })
        </div>
        <div class="six wide field">
            @Html.DisplayNameFor(model => model.Progress)

            @Html.TextBoxFor(model => model.Progress, new { @readonly = "readonly" })
        </div>
    </div>
    <div class="two fields">
        <div class="eight wide field">
            @Html.DisplayNameFor(model => model.fdSTIME)
            @Html.TextBox("fdSTIME", string.Format($"{Model.fdSTIME:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
        <div class="eight wide field">
            @Html.DisplayNameFor(model => model.fdETIME)
            @Html.TextBox("fdETIME", string.Format($"{Model.fdETIME:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
    </div>
    <div class="field">
        @Html.DisplayNameFor(model => model.C_sFILE_INFO)
        @Html.TextBoxFor(model => model.C_sFILE_INFO, new { @readonly = "readonly" })
    </div>
    <div class="field">
        @Html.DisplayNameFor(model => model.fsPARAMETERS)
        @Html.TextBoxFor(model => model.fsPARAMETERS, new { @readonly = "readonly" })
    </div>
    <div class="field">
        @Html.DisplayNameFor(model => model.fsRESULT)
        @Html.TextBoxFor(model => model.fsRESULT, new { @readonly = "readonly" })
    </div>
    <div class="field">
        @Html.DisplayNameFor(model => model.fsNOTE)
        @Html.TextBoxFor(model => model.fsNOTE, new { @readonly = "readonly" })
    </div>
    <div class="four fields">
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.CreatedTime)
            @Html.TextBox("CreatedTime", string.Format($"{Model.CreatedTime:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.CreatedBy)
            @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UpdatedTime)
            @Html.TextBox("UpdatedTime", string.Format($"{Model.UpdatedTime:yyyy/MM/dd HH:mm:ss}"), new { @readonly = "readonly" })
        </div>
        <div class="four wide field">
            @Html.DisplayNameFor(model => model.UpdatedBy)
            @Html.TextBoxFor(model => model.UpdatedBy, new { @readonly = "readonly" })
        </div>
    </div>
</form>
     ,@<button class="ui yellow cancel button" type="button">關閉</button>
     )


